<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-group container">
    <!-- Solucionar lo de los borders, también en el login -->
    <div class="d-flex offset-3 w-50 justify-content-around">
        <div class="my-2">
            <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
            <small *ngIf="checkError('name', 'required')" class=" text-danger">Requerido</small>
        </div>
        <div class="my-2">
            <input formControlName="surname" type="text" class="form-control " placeholder="Apellidos">
            <small *ngIf="checkError('surname', 'required')" class=" text-danger">Requerido</small>
        </div>
    </div>
    <div class="container my-2 offset-3 w-50 form-group">
        <label class="label my-2">Fecha de nacimiento</label>
        <input formControlName="birthdate" type="date" class="form-control" placeholder="Fecha nacimiento">
        <small *ngIf="checkError('birthdate', 'required')" class=" text-danger">Requerido</small>
    </div>
    <div class="my-4">
        <input formControlName="email" type="email" class="form-control offset-3 w-50"
            placeholder="Email: example@gmail.com">
        <small *ngIf="checkError('email', 'required')" class="text-danger">Requerido</small>
        <small *ngIf="checkError('email', 'pattern')" class="text-danger">El formato del email no es correcto</small>
    </div>

    <div class="my-4">
        <input formControlName="phone" type="text" class="form-control offset-3  w-50" placeholder="Teléfono">
        <small *ngIf="checkError('phone', 'required')" class=" text-danger">Requerido</small>
        <small *ngIf="checkError('phone', 'minlength')" class=" text-danger">Tiene menos de 9 carácteres</small>
        <small *ngIf="checkError('phone', 'maxlength')" class=" text-danger">Tiene más de 9 caracteres</small>
    </div>
    <div class="container w-50 form-group my-2">
        <label class="label my-2">Imagen avatar</label>
        <!--El tipo de la imágen tiene que ser file -->
        <input type="file" class="form-control" name="avatar" (change)="onChange($event)">
    </div>
    <div>
        <input [disabled]="!formulario.valid" [ngClass]="{'blocked': !formulario.valid}"
            class="btn btn-dark offset-5 w-25" type="submit" value="Entrar">
    </div>
</form>