* {
    font-family: 'Montserrat';
}
nav {
    background: linear-gradient(180deg, #FFFFFF 1%, #21242E 17%, #21242E 82%, #FFFFFF 98%);
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    cursor: pointer;
    
}
nav ul li:hover {
    color: var(--Amarillo);
    transition: 0.5s;
}