<nav class="type">
    <ul>
        <li (click)="selectTypeInactive('teacher')">Profesores Inactivos</li>
        <li (click)="selectType('teacher')">Profesores Activos</li>
        <li (click)="selectType('user')">Alumnos Activos</li>
        <li (click)="selectTypeInactive('user')">Alumnos Inactivos</li>
    </ul>
</nav>


<section>

    <article class="teachers" *ngFor="let teacher of arrUsers">
        <!-- El src realmente será el teacher.avatar -->

        <div class="cabecera-teacher">
            <h4>{{teacher.name}}</h4>
            <small>{{teacher.media_score}}⭐</small>
        </div>
        <img [src]="teacher.avatar" alt="Avatar">
        <div class="tags">
            <ul>
                <li>{{teacher.pricehour}} €/hora</li>
                <li>{{(teacher.remote === 1)? 'Remoto': 'Presencial'}}</li>
                <li *ngIf="teacher.subject!==null">{{teacher.subject}}</li>
            </ul>
        </div>

        <p><span>Descripción:</span> {{teacher.experience}}</p>

    </article>
</section>