<nav class="type">
    <ul>
        <li (click)="selectTypeInactive('teacher')">Profesores Inactivos</li>
        <li (click)="selectType('teacher')">Profesores Activos</li>
        <li (click)="selectType('user')">Alumnos Activos</li>
        <li (click)="selectTypeInactive('user')">Alumnos Inactivos</li>
    </ul>
</nav>


<section>

    <article [ngClass]="{'inactive': user.active === 0}" class="teachers" *ngFor="let user of arrUsers">
        <!-- El src realmente será el teacher.avatar -->

        <div class="cabecera-teacher">
            <h4>{{user.name}} {{user.surname}}</h4>
            <small *ngIf="user.media_score">{{user.media_score}}⭐</small>
        </div>
        <img [src]="user.avatar" alt="Avatar">
        <ul>
            <li>{{user.type}}</li>
            <li (click)="changeStatus(user.id, 0)" class="active" *ngIf="user.active === 1">Desactivar</li>
            <li (click)="changeStatus(user.id, 1)" class="active" *ngIf="user.active === 0">Activar</li>
        </ul>

        <p *ngIf="user.experience"><span>Descripción:</span> {{user.experience}}</p>
    </article>

</section>