nav.type ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

nav.type ul li {
    cursor: pointer;
    font-size: 1.5em;
    font-family: var(--fuenteprincipal);
    background-color: var(--Azul);
    padding: 10px;
    border-radius: 10px;
    transition: .6s;

    margin: 10px;
}

nav.type ul li:hover {
    font-size: 1.6em;
    background-color: var(--Verde);
}


section {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}




article.teachers {
    margin-top: 35px;
    background-color: var(--colorsecundario);
    color: white;
    min-height: 480px;
    min-width: 350px;
    max-width: 360px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    font-family: 'Montserrat';
}

article.teachers:hover {
    cursor: pointer;
    margin-top: 20px;
}

article.teachers img {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 250px;
    border-radius: 3%;
    transition: 1s;
}

article.teachers h4 {
    font-weight: bold;
    padding: 10px;
}

article.teachers p {
    padding: 10px;
    font-size: 15px;
    width: 340px;
}

article.teachers p span {
    font-weight: bold;
}

article.teachers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}

article.teachers ul li {
    padding: 5px;
    background-color: var(--Verde);
    color: black;
    border-radius: 5px;
    transition: 1s;
}

article.teachers ul li:hover {
    background-color: var(--colornav);
}

article.teachers div.cabecera-teacher {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article.teachers:hover img {
    opacity: 0.8;
}