<article class="teacher container">
    <div class="row">
        <div class="col-8"><img src="../../../assets/images/entrepreneur-593371_640.jpg" alt="Avatar"></div>
        <div class="col-4">
            <h4>{{student.name}} {{student.surname}}</h4>
            <button class="btn btn-primary">Contactar</button>
        </div>
    </div>  
</article>
<article class="opiniones container">
    <div class="row">
        <div class="col">
            <article>
                <div>OPINIONES<hr></div>
                
                <p class="opinion" *ngFor="let coment of coments">
                    {{coment.name}} : {{coment.opinion}}
                </p>

            </article>
        </div>
    </div>
</article>
