div.cabecera {
    width: 100%;
    position: relative;
    height: 100vh;
}

div.posit {
    background-image: url('../../../assets/images/Buscador2.png');
    height: 150px;
    width: 200px;
    background-size: cover;
    position: absolute;
    right: 8.1%;
    top: 73%;
    border-radius: 8px;
    cursor: pointer;
    transition: .6s;
}

div.posit:hover {
    height: 160px;
    width: 210px;
    top: 79%;

}

div.notebook {
    background-image: url('../../../assets/images/menu.png');
    height: 750px;
    width: 600px;
    background-size: cover;
    position: absolute;
    left: 0%;
    top: 3%;
}

div.whiteboard {
    background-image: url('../../../assets/images/pizarra.png');
    height: 425px;
    width: 600px;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 20%;
    border-radius: 5px;
}

ul.opiniones {
    padding: 2em ;
    padding-top: 1em;
    list-style: circle;
    color: white;
    font-size: 1.3em;
    line-height: 1.8em;
    font-family: 'Covered By Your Grace';
    width: 100%;
}

ul.opiniones span {
    font-size: 1.5em;
}



form.busqueda div.asignaturas select {
    position: absolute;
    top: 51%;
    right: 14%;
    transform: rotateZ(15deg);
    background: none;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    width: 120px;
    font-family: 'Covered By Your Grace';
    font-size: 1.2em;
    cursor: pointer;
    transition: .6s;
}

form.busqueda div.asignaturas select:hover {
    background-color: black;
    color: white;
}

/* No me pilla ni el cursor pointer ni la font family */
form.busqueda div.asignaturas select option {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Covered By Your Grace', Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
}

form.busqueda div.asignaturas select option:hover {
    background-color: black;
    color: white;
}


form.busqueda div.ciudad select {
    position: absolute;
    top: 56%;
    right: 22%;
    transform: rotateZ(15deg);
    background: none;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    width: 150px;
    font-family: 'Covered By Your Grace';
    font-size: 1.2em;
    cursor: pointer;
    transition: .6s;
}

form.busqueda div.ciudad select:hover {
    background-color: black;
    color: white;
}

form.busqueda div.ciudad select option {
    background-color: white;
    font-family: 'Covered By Your Grace', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    color: black;
}

form.busqueda div.ciudad select option:hover {
    background-color: black;
    color: white;
}

form.busqueda div.remote input {
    position: absolute;
    top: 60.5%;
    right: 44%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    outline: 3px solid black;
    border-radius: 3px;
    background-color: white;

}


form.busqueda input[type="submit"] {
    position: absolute;
    top: 73%;
    right: 8.1%;
    background: none;
    border-radius: 10px;
    height: 150px;
    width: 201px;
    cursor: pointer;
    transition: .6s;
    z-index: 1;
}

form.busqueda input[type="submit"]:hover {
    box-shadow: 2px 2px 2px 3px black;
}

section {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

section h3 {
    text-align: center;
    font-family: 'Handlee';
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px black;
}


article.subjects {
    font-family: 'Montserrat';
    background-color: var(--Aguamarina);
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 2px black;
    transition: .7s;
}

article.subjects:hover {
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.514);
    margin-top: 20px;
}

article.teachers {
    margin-top: 35px;
    background-color: var(--colorsecundario);
    color: white;
    min-height: 480px;
    min-width: 350px;
    max-width: 360px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    font-family: 'Montserrat';
}

article.teachers:hover {
    cursor: pointer;
    margin-top: 20px;
}

article.teachers img {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 250px;
    border-radius: 3%;
    transition: 1s;
}

article.teachers h4 {
    font-weight: bold;
    padding: 10px;
}

article.teachers p {
    padding: 10px;
    font-size: 15px;
    width: 340px;
}

article.teachers p span {
    font-weight: bold;
}

article.teachers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}

article.teachers ul li {
    padding: 5px;
    background-color: var(--Verde);
    color: black;
    border-radius: 5px;
    transition: 1s;
}

article.teachers ul li:hover {
    background-color: var(--colornav);
}

article.teachers div.cabecera-teacher {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article.teachers:hover img {
    opacity: 0.8;
}