<main>
    <div class="cabecera">
        <div class="whiteboard">
        </div>
        <div class="notebook"></div>
        <div class="posit"></div>
        <ul class="opiniones">
            <li><span>Felipe:</span> Mi profesor Néstor es de los mejores programadores en España actualmente</li>
            <li><span>Juanan:</span> Mario enseña bastante bien js pero echo de menos el color tomato</li>
            <li><span>Daniel:</span> He aprendido a crear componentes de angular pulsando una tecla🤗</li>
            <li><span>Javier:</span> I'm improving my level of english really quickly</li>
        </ul>
    </div>
    <section>
        <h3>Asignaturas TOP</h3>
        <article>
            <!-- ngfor con una array de 5 asignaturas -->
        </article>
    </section>
    <section>
        <h3>Profesores TOP</h3>
        <article>

        </article>
        <!-- ngFor con un array de 3 profesores, petición a filterbyscore. -->
    </section>
</main>