<body>


    <main>
        <div class="cabecera">
            <div class="whiteboard">
            </div>
            <div class="notebook"></div>
            <div class="posit"></div>
            <ul class="opiniones">
                <li><span>Felipe:</span> Mi profesor Néstor es de los mejores programadores en España actualmente</li>
                <li><span>Juanan:</span> Mario enseña bastante bien js pero echo de menos el color tomato</li>
                <li><span>Daniel:</span> He aprendido a crear componentes de angular pulsando una tecla🤗</li>
                <li><span>Javier:</span> I'm improving my level of english really quickly</li>
            </ul>
        </div>
        <section>
            <h3>Asignaturas TOP</h3>
            <article class="subjects" *ngFor="let subject of this.arrBestSubjects">
                <!-- ngfor con una array de 5 asignaturas -->
                <h4>{{subject.name}}</h4>
            </article>
        </section>
        <section>
            <h3>Profesores TOP</h3>
            <article class="teachers" *ngFor="let teacher of this.arrBestTeachers">
                <!-- El src realmente será el teacher.avatar -->
                <img src="../../../assets/images/entrepreneur-593371_640.jpg" alt="Avatar">
                <h4>{{teacher.name}}</h4>
                <p>{{teacher.experience}}</p>
                <p>{{teacher.pricehour}} €/hora</p>
                <!-- Hacer petición en el back que devuelva el teacger con el score y la asignatura que da. -->

                <!-- ngFor con un array de 3 profesores, petición a filterbyscore. -->
            </article>
        </section>
    </main>