<body>


    <main>
        <div class="cabecera">
            
         
            <div class="notebook">

                <form [formGroup]="formulario" class="busqueda" (ngSubmit)="onSubmit()">
                    <div class="asignaturas">
                        <select formControlName="subject">
                            <option value="" selected disabled>Cualquiera</option>
                            <option *ngFor="let subject of this.arrSubjects" [value]="subject.name">{{subject.name}}
                            </option>
                        </select>
                    </div>
                    <div class="ciudad">
                        <select formControlName="city">
                            <option value="" selected disabled>Ciudad</option>
                            <option value="madrid">Madrid</option>
                            <option value="barcelona">Barcelona</option>
                            <option value="valencia">Valencia</option>
                        </select>
                    </div>
                    <div class="remote">
                        <input formControlName="remote" type="checkbox">
                    </div>

                    <div>
                        <input type="submit" value="">
                    </div>
                    <div class="posit"></div>
                </form>
            </div>
            <div class="whiteboard">
            <ul class="opiniones">
                <li><span>Felipe:</span> Mi profesor Néstor es de los mejores programadores en España actualmente</li>
                <li><span>Juanan:</span> Mario enseña bastante bien js pero echo de menos el color tomato</li>
                <li><span>Daniel:</span> He aprendido a crear componentes de angular pulsando una tecla🤗</li>
                <li><span>Javier:</span> I'm improving my level of english really quickly</li>
            </ul>
        </div>
        </div>

        <section>
            <h3>Asignaturas TOP</h3>
            <article class="subjects" *ngFor="let subject of this.arrBestSubjects">
                <!-- ngfor con una array de 5 asignaturas -->
                <h4>{{subject.name}}</h4>
            </article>
        </section>
        <section>
            <h3>Profesores TOP</h3>
            <article (click)="onNavigate(teacher.id)" class="teachers" *ngFor="let teacher of this.arrBestTeachers">
                <!-- El src realmente será el teacher.avatar -->
                <div class="cabecera-teacher">
                    <h4>{{teacher.name}}</h4>
                    <small>{{teacher.media_score}}⭐</small>
                </div>
                <img src="../../../assets/images/entrepreneur-593371_640.jpg" alt="Avatar">
                <div class="tags">
                    <ul>
                        <li>{{teacher.pricehour}} €/hora</li>
                        <li>{{(teacher.remote === 1)? 'Remoto': 'Presencial'}}</li>
                        <li>{{teacher.subject}}</li>
                    </ul>
                </div>

                <p><span>Descripción:</span> {{teacher.experience}}</p>

                <!-- Hacer petición en el back que devuelva el teacger con el score y la asignatura que da. -->

                <!-- ngFor con un array de 3 profesores, petición a filterbyscore. -->
            </article>
        </section>
    </main>