@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

div.wrapper {
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
}

header nav {
    background: linear-gradient(180deg, #A2FA8A 70%, #fff 86%);
    width: 100%;
    height: 170px;

}

#ayuda {
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 4px;
    font-weight: bolder;
}

#ayuda:hover {
    transform: scale(1.2);
    background-color: var(--colorAyuda);
}

header nav ul li {
    margin: 15px;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    font-size: 1.2em;
    transition: 0.5s ease-out;
    cursor: pointer;
    font-family: var(--fuentetitulos);
}

header nav ul li:hover {
    background-color: var(--Azul);

}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header figure {
    display: flex;
    width: 100%;
    justify-content: center;
}

header figure img {
    width: 11em;
    height: 8em;
    margin-top: -100px;
    transition: 1s;
    cursor: pointer;
}

header figure img:hover {

    width: 12em;
    height: 9em;
}

/* Comienzo de FOOTER */
footer {
    position: absolute;
    bottom: 0;
}

footer nav {
    background-color: var(--colornav);
}


footer nav div {
    text-align: center;
    padding: 10px;
}

footer nav div h2 {
    font-weight: bolder;
    margin-bottom: 5px;
    font-family: 'Handlee';
    font-size: 1.5em;
}

footer nav div ul li {
    cursor: pointer;
    margin: 5px;
    font-family: 'Montserrat';
}

footer nav div ul li:hover {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

footer nav div#siguenos ul {
    padding: 5px;
}

footer nav div#siguenos ul li a {
    color: #000;
    padding: 5px;
    font-size: 20px;
}

footer nav div#siguenos ul li a#facebook:hover {
    color: #4267B2;
}

footer nav div#siguenos ul li a#twitter:hover {
    color: #1DA1F2;
}

footer nav div#siguenos ul li a#youtube:hover {
    color: red;
}

footer nav hr {
    width: 75%;
    margin: 20px auto;
}

footer nav div#copyright {
    display: flex;
    justify-content: center;
    padding: 10px;
}