<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-group container">
    <div class="my-4">
        <input formControlName="email" type="email"
            [ngClass]="{'border-danger':formulario.get('email')?.hasError('required')}"
            class="form-control offset-3 w-50" placeholder="Email: example@gmail.com">
        <small *ngIf="checkError('email', 'required')" class="text-danger">Requerido</small>
    </div>
    <div class="my-2">
        <input formControlName="password" type="password"
            [ngClass]="{'border-danger':formulario.get('password')?.hasError('required')}"
            class="form-control offset-3 w-50" placeholder="Password">
        <small *ngIf="checkError('password', 'required')" class=" text-danger">Requerido</small>
    </div>
    <div>
        <input [disabled]="!formulario.valid" [ngClass]="{'blocked': !formulario.valid}"
            class="btn btn-dark offset-5 w-25" type="submit" value="Entrar">
    </div>
</form>

<p class="container text-center my-3">¿Aún no te has registrado? <a [routerLink]="['/form','students']">Apuntate</a>
</p>