p {
    font-family: 'Montserrat';
    padding-left: 70px;
}

input {
    font-family: 'Montserrat';
    cursor: pointer;
}

input[type="submit"] {
    color: var(--colorsecundario);
    background-color: var(--Verde);
}

input[type="submit"]:hover {
    color: var(--colorsecundario);
    background-color: rgb(162, 250, 138);
}

small {
    margin-top: 5px;
    margin-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-weight: bold;

}

.blocked {
    opacity: 0.6;
}

input.ng-invalid.ng-touched {
    border: 3px solid lightcoral;
}