section {
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}



article.teachers {
    margin-top: 35px;
    background-color: var(--colorsecundario);
    color: white;
    min-height: 480px;
    min-width: 350px;
    max-width: 360px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    font-family: 'Montserrat';
}

article.teachers:hover {
    cursor: pointer;
    margin-top: 20px;
}

article.teachers img {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 250px;
    border-radius: 3%;
    transition: 1s;
}

section h4 {
    font-family: var(--fuenteprincipal);
    font-size: 2em;
}

article.teachers h4 {
    font-weight: bold;
    padding: 10px;
    font-family: var(--fuenteprincipal);
}

article.teachers p {
    padding: 10px;
    font-size: 15px;
    width: 340px;
}

article.teachers p span {
    font-weight: bold;
}

article.teachers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
}

article.teachers ul li {
    padding: 5px;
    background-color: var(--Verde);
    color: black;
    border-radius: 5px;
    transition: 1s;
}

article.teachers ul li:hover {
    background-color: var(--colornav);
}

article.teachers div.cabecera-teacher {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article.teachers:hover img {
    opacity: 0.8;
}

div.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100px;
    font-family: 'Montserrat';
}

div.price-filter-container {
    position: relative;
}

div.score-filter-container {
    position: relative;
}

div.price-filter {
    position: absolute;
    top: 40%;
    left: 6.5%;
    background-color: #393d4e;
    color: white;
    height: 80px;
    width: 230px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Montserrat';
    line-height: 20px;
}

div.price-filter input {
    width: 150px;
    cursor: pointer;
}


div.score-filter {
    position: absolute;
    top: 40%;
    left: 6.5%;
    background-color: #393d4e;
    color: white;
    height: 80px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Montserrat';
    line-height: 20px;
}

div.score-filter input {
    cursor: pointer;
}

div.check {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1.2em;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

div.check input {
    height: 25px;
    width: 25px;
    cursor: pointer;
}





div input.mapa {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: black;
    border: 2px solid var(--colorsecundario);
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: .6s;
    margin: 5px;
}

div.flex-map {
    margin-top: 80px;
    display: flex;
    position: relative;
}

div div.iconos-google {
    position: absolute;
    left: 13%;
}


div figure img {
    width: 20px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

div figure p {
    margin-top: 5px;
}

div figure:first-of-type img {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

div figure {
    margin: 10px;
    display: flex;
    font-family: var(--fuenteprincipal);
}




button {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--colorsecundario);
    border: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: .6s;
    margin: 5px;
}

button:hover {
    background-color: #393d4e;
}

div.filter select {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--colorsecundario);
    border: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: .6s;
    margin: 5px;
    text-align: center;
    transition: .6s;
}

div.filter select:hover {
    background-color: #393d4e;
}

button.apply {
    background-color: var(--Azul);
    margin-left: 20px;
    width: 180px;
    height: 45px;
    font-size: 1.2em;
    transition: 1s;
}

button.apply:hover {
    background-color: rgb(127, 209, 146);
    margin-left: 20px;
    width: 190px;
    height: 55px;
    font-size: 1.3em;
}

div.mapa {
    height: 400px;
    width: 600px;
    border-radius: 5px;
    margin: 0 auto;
}