<div class="filter">
    <div class="price-filter-container">
        <button (click)="changeDisplayPrice()">Precio</button>
        <div *ngIf="showPrice" class="price-filter">
            <input type="range" min="0" max="50" [(ngModel)]="price">
            <p> Precio máximo: {{price}} €/hora</p>
        </div>
    </div>

    <div class="score-filter-container">
        <button (click)="changeDisplayScore()">Puntuación</button>
        <div *ngIf="showScore" class="score-filter">
            <input type="range" min="0" max="10" [(ngModel)]="score">
            <p> Puntuación mínima: {{score}} / 10</p>
        </div>
    </div>
    <select [(ngModel)]="city">
        <!-- Aquí habrá que meter un ngfor recuperando todas las ciudades -->
        <option value="" selected>Ciudad</option>
        <option value="madrid">Madrid</option>
        <option value="barcelona">Barcelona</option>
        <option value="valencia">Valencia</option>
    </select>
    <select [(ngModel)]="asignatura">
        <option value="" selected>Asignaturas</option>
        <option *ngFor="let subject of this.arrSubjects" [value]="subject.name">{{subject.name}}
        </option>
    </select>
    <div class="check">
        <input type="checkbox" class="mx-2" [(ngModel)]="remote">
        <label>Remoto</label>
    </div>
    <button class="apply" value="" (click)="onSubmit()">Aplicar</button>
</div>

<section>
    <h4 *ngIf="this.arrTeachers.length === 0">Oh vaya, parece que esto está vacío😥</h4>
    <article class="teachers" *ngFor="let teacher of arrTeachers" (click)="onNavigate(teacher.id!)">
        <!-- El src realmente será el teacher.avatar -->

        <div class="cabecera-teacher">
            <h4>{{teacher.name}}</h4>
            <small>{{teacher.media_score}}⭐</small>
        </div>
        <img [src]="teacher.avatar" alt="Avatar">
        <div class="tags">
            <ul>
                <li>{{teacher.pricehour}} €/hora</li>
                <li >{{(teacher.remote === 1)? 'Remoto': 'Presencial'}}</li>
                <li *ngIf="teacher.subject!==null">{{teacher.subject}}</li>
            </ul>
        </div>

        <p><span>Descripción:</span> {{teacher.experience}}</p>

    </article>
</section>