<div class="filter">
    <div class="price-filter-container">
        <button (click)="changeDisplayPrice()">Precio</button>
        <div *ngIf="showPrice" class="price-filter">
            <input type="range" min="0" max="50" [(ngModel)]="price">
            <p> Precio máximo: {{price}} €/hora</p>
        </div>
    </div>

    <div class="score-filter-container">
        <button (click)="changeDisplayScore()">Puntuación</button>
        <div *ngIf="showScore" class="score-filter">
            <input type="range" min="0" max="10" [(ngModel)]="score">
            <p> Puntuación mínima: {{score}} / 10</p>
        </div>
    </div>

    <input #inputPlaces class="mapa" type="text" [value]="city" placeholder="Ubicación">
    <select [(ngModel)]="asignatura">
        <option value="" selected>Asignaturas</option>
        <option *ngFor="let subject of this.arrSubjects" [value]="subject.name">{{subject.name}}
        </option>
    </select>
    <div class="check">
        <input type="checkbox" class="mx-2" [(ngModel)]="remote">
        <label>Remoto</label>
    </div>
    <button class="apply" value="" (click)="onSubmit()">Aplicar</button>
</div>

<div class="flex-map">
    <div class="iconos-google">
        <figure><img
                src="https://imgs.search.brave.com/EpU5KjrQ15WVBGBHq0zUJiyg5q4LAFAubO2QFMIOmS8/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9jZG4u/aWNvbi1pY29ucy5j/b20vaWNvbnMyLzI2/MzEvUE5HLzUxMi9n/b29nbGVfbWFwc19u/ZXdfbG9nb19pY29u/XzE1OTE0Ny5wbmc"
                alt="Icono google maps">
            <p>Lo que buscas 🔍</p>
        </figure>
        <figure><img
                src="https://imgs.search.brave.com/eaL74z0xZyWFghCrbjVzxh4XOAKm5U-TyZR_6-VtfTM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/cGlrcG5nLmNvbS9w/bmdsL2IvNDE2LTQx/NjUwMDNfaWNvbi1n/b29nbGUtbWFwLWJs/dWUtcGluLWNsaXBh/cnQucG5n"
                alt="Icono google maps">
            <p>Profesores cerca 👨‍🏫</p>
        </figure>
        <figure><img
                src="https://imgs.search.brave.com/eDYxhbLNCWdsVe2T6R11ALuU4AWVILFh24THOv0ZE78/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9sYWtl/bGFuZGVzY2FwZXJv/b20uY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDE5LzExL2dv/b2dsZS1tYXAtaWNv/bi10cmFuc3BhcmVu/dC0xOS5wbmc"
                alt="Icono google maps">
            <p>Tú posición 📌</p>
        </figure>
    </div>
    <div class="mapa" #divMapa></div>
</div>

<section>
    <h4 *ngIf="this.arrTeachers.length === 0">Oh vaya, parece que esto está vacío😥</h4>
    <article class="teachers" *ngFor="let teacher of arrTeachers" (click)="onNavigate(teacher.id!)">
        <!-- El src realmente será el teacher.avatar -->

        <div class="cabecera-teacher">
            <h4>{{teacher.name}}</h4>
            <small>{{teacher.media_score}}⭐</small>
        </div>
        <img [src]="teacher.avatar" alt="Avatar">
        <div class="tags">
            <ul>
                <li>{{teacher.pricehour}} €/hora</li>
                <li>{{(teacher.remote === 1)? 'Remoto': 'Presencial'}}</li>
                <li *ngIf="teacher.subject!==null">{{teacher.subject}}</li>
            </ul>
        </div>

        <p><span>Descripción:</span> {{teacher.experience}}</p>

    </article>
</section>