div.ayuda {
    background-image: url('../../../assets/images/help.png');
    position: relative;
    display: block;
    margin: auto;
    width: 1005px;;  
    height: 1191px;
    max-width: 100%;

}


ul{
    position:aboslute;
    padding: 7em;;
    padding-left: 7.7em;
    list-style: none;
    color: black;
    font-size: 1.7em;
    line-height: 1.8em;
    font-family: var(--fuentetitulos);
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    
}