.container {
    margin: 0 auto;
    margin-bottom: 10px;

    background-image: url("../../../assets/images/pizarra.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 610px;
    height: 430px;

}

#accordionExample {
    font-family: var(--fuenteprincipal);
    padding-top: 1em;
}

div.ayuda {
    text-align: center;
}

div.faq ul {

    text-align: center;
    color: #2e4543
}