<nav class="container">
    <div class="row">
        <ul>
            <li class="col" [routerLink]="['profile',this.teacher.id]">Perfil</li>

            <!--Mensajería aún no funciona, cuando esté disponible cambiar el ngIf -->
            <li *ngIf="teacher.type === 'teacher'" class="col">Mensajería</li>
            <li *ngIf="teacher.type === 'teacher'" class="col" [routerLink]="['edit']">Editar</li>
            <li *ngIf="teacher.type === 'teacher'" [routerLink]="['request']" class="col">Solicitudes</li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>