* {
    font-family: 'Montserrat';
}
nav {
    background: linear-gradient(180deg, #FFFFFF 1%, #21242E 17%, #21242E 82%, #FFFFFF 98%);
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    cursor: pointer;
    
}
nav ul li:hover {
    color: var(--Amarillo);
    transition: 0.5s;
}

article.teacher {
    margin-top: 25px;
    background-color: var(--colorsecundario);
    color: white;
    min-height: 380px;
    min-width: 37.5em;
    max-width: 360px;
    border-radius: 10px;
    padding: 10px;
}


article.teacher div div img {
    width: 100%;
    border-radius: 3%;
    display: flex;
    margin-bottom: 10px;
}

article.teacher div div h4 {
    font-weight: bold;
    padding: 10px;
    display: flex;
}
article.teacher div div small {
    padding: 10px;
}

article.teacher div div.tags ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    margin: 5px;
}

article.teacher div div.tags ul li {
    padding: 5px;
    background-color: var(--Verde);
    color: black;
    border-radius: 5px;
    transition: 1s;
}
article.teacher div div button {
   margin-top: 25px;
   margin-left: 25px;
   padding: 15px;
}


article.teacher div p {
    padding: 10px;
    font-size: 15px;
}

article.teacher div p span {
    font-weight: bold;
}




.opiniones {
    margin-top: 20px;
}
.opiniones .row .col article {
    background-image: url('../../../assets/images/pizarra.png');
    background-size: 100% 100%;
    min-height: 100px;
    width: 37.5em;
    margin: 0 auto;
    color: white;
    padding: 10px;
}

.opiniones .row .col article div {
    font-family: var(--fuentepizarra);
    font-size: 1.75em;
    margin-left: 45%;
}

.opiniones .row .col article div hr {
    width: 60%;
    margin-left: -15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.opiniones .row .col article .opinion {
    margin: 10px;
    overflow: hidden;
    max-width: 35.5em;
    display: block;
    font-family: var(--fuentepizarra);
    font-size: 1.5em;
}
