<nav class="container">
    <div class="row">
        <ul>
            <li class="col">Perfil</li>
            <li class="col">Mensajería</li>
            <li class="col">Editar</li>
        </ul>
    </div>
</nav>
<article class="teacher container">
    <div class="row">
        <div class="col-8"><img src="../../../assets/images/entrepreneur-593371_640.jpg" alt="Avatar"></div>
        <div class="col-4">
            <h4>{{teacher.name}} {{teacher.surname}}</h4>
            <small>Valoración: {{teacher.media_score}}⭐</small>
            <div class="tags">
                <ul>
                    <li>{{teacher.pricehour}} €/hora</li>
                    <li>Remote</li>
                    <li>{{teacher.subject}}</li>
                </ul>
            </div>
            <button class="btn btn-primary">Contactar</button>
        </div>
        <p><span>Descripción:<br></span> {{teacher.experience}}</p>
    </div>  
</article>
<article class="opiniones container">
    <div class="row">
        <div class="col">
            <article>
                <div>OPINIONES<hr></div>
                
                <p class="opinion" *ngFor="let coment of coments">
                    {{coment.name}} : {{coment.opinion}}
                </p>

            </article>
        </div>
    </div>
</article>
