<article class="teacher container">
    <div class="row">
        <div class="col-8"><img [src]="this.url"></div>
        <div class="col-4">
            <h4>{{teacher.name}} {{teacher.surname}}</h4>
            <small>Valoración: {{teacher.media_score}}⭐</small>
            <div class="tags">
                <ul>
                    <li>{{teacher.pricehour}} €/hora</li>
                    <li >{{(teacher.remote === 1)? 'Remoto': 'Presencial'}}</li>
                    <li *ngIf="teacher.subject!==null">{{teacher.subject}}</li>
                </ul>
            </div>
            <button class="btn btn-primary">Contactar</button>
        </div>
        <p><span>Descripción:<br></span> {{teacher.experience}}</p>
    </div>  
</article>
<article class="opiniones container">
    <div class="row">
        <div class="col">
            <article>
                <div>OPINIONES<hr></div>
                
                <p class="opinion" *ngFor="let coment of coments">
                    {{coment.name}} : {{coment.opinion}}
                </p>

            </article>
        </div>
    </div>
</article>
